     #header {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px;    
          background-color: #CCCCCC;
          line-height: 18px;
          font-size: 12px; 
       }
      #header h1 {
          font-size: 16px;
          display: inline;
          margin-right: 5px;
       }

       #header p {
          display: inline;
          margin-left: 5px;
       }

        #board {
          z-index: 100;
          list-style-type: none;
          position: absolute;
          background-color: #FFFF99;
          border: 1px solid black;
          top: 30px;
          left: 20px;
          padding: 0;
          width: 800px;
          height: 600px;
        }
        #board li {
          z-index: inherit;
          background: white;
          position: absolute;
          color: black;
          cursor: move;
          border: 1px solid black;
          padding: 4px;
          width: auto;
          font-family: "American Typewriter", courier, monospace;
          font-size: 16px;
          line-height: 18px;
        }

        .info {
          color: green;
          line-height: 12px;
          font-size: 10px;
        }

        #error {
          z-index: 40;
          position: absolute;
          top: 150px;
          left: 50px;
          width: 400px;
          padding: 5px;
          color: #2e2e2e;
          background-color: #f3d8d8;
          border: 1px solid #cc0000;
        }

	    #numUsers {
          position: absolute;
          display: inline;
          /*line-height: 18px;
          font-size: 12px;*/ 
          right: 0;
          top: 0;
          padding: 5px;
         /* color: green; */
         }


